*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1000px;
}
.navigationbar{
    width:1000px;
    height: 75px;
    background-color: #9fc5f8;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    align-items: center;
}
.nav-title{
    color: white;
    justify-content: space-around;
    font-family: sans-serif;
    margin-left: 100px;
}
.nav-location{
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 18px;
    margin-right: 100px;

}
.location{
    color: white;
    list-style-type: none;
    justify-content: space-around;
    text-decoration: none;
    margin: 10px;
    justify-content: space-between;
}
.sanjoseweather{
    width: 800px;
    height: 75px;
    color: black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    font-family: sans-serif;
    font-weight: normal;
}
.weekforecast{
    width: 800px;
    padding-top: 15px;
    display: flex;
    background-color: white;
    margin-left: 100px;
}
.column1, .column2, .column3, .column4{
    width: 180px;
    height: 300px;
    text-align: center;
    background-color: #eeeeee;
    margin-left: 15px;
    margin-top: 10px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    

}
.rainimg, .sunimg, .cloudimg{
    padding-top: 10px;
    padding-bottom: 15px;
    height:150px;
    border-radius: 50%;
}
.degreesc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
    margin-bottom: 50px;
    font-weight: bold;
    padding-top: 30px;
}
.degreesf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
    margin-bottom: 50px;
    font-weight: bold;
    padding-top: 30px;
}
.hightemp{
    color: #d13532;

}
.lowtemp{
    color: #377fe4;
}
#message{
    width: 800px;
    border: 2px solid black;
    position: fixed;
    bottom: 230px;
    color: black;
    background-color: #eeeeee;
    align-items: center;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.maininfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px
}
.header{
    padding-left: 195px;
}
.acceptbtn{
    width: 75px;
    height: 35px;
    background-color: #377fe4;
    color: black;
}
.cookieimg{
    height: 75px;
}