.container{
    width: 1000px;
}

.navigation{
    width: 1000px;
    height: 75px ;
    background-color: black;
    color: white;
    font-family:sans-serif;
    font-weight: normal;
    display: flex;
    align-items: top;
    justify-content: space-around;
    list-style-type: none;

}
.title{
    color: white;
    margin: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;

}
.active{
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.btn{
    color: white;
    list-style-type: none;
    text-decoration: none;
    display:flex;
    height:35px;
    width: 80px;
    margin: 20px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    background-color: #17a2b8;

}
.lcolumn{
    height: 600px;
    width: 550px;
    background-color:white;
    margin-left: 50px;
    margin-top: 30px;
    padding:5px;
}
.profile {
    height: 350px;
    width: 500px;
    background-color: white;
    margin: 10px;
    padding: 0px;
    border:2px solid black;

}
#education {
    height: 200px;
    width: 500px;
    background-color: white;
    margin: 10px;
    padding: 0px;
    border:2px solid black;
}
.rcolumn {
    height: 600px;
    width: 250px;
    background-color:white;
    margin-right: 25px;
    margin-top: 30px;
    padding:5px;
}
.request {
    height: 225px;
    width: 225px;
    background-color: white;
    margin: 10px;
    padding: 0px;
    border:2px solid black;

}
#connections {
    height: 325px;
    width: 225px;
    background-color: white;
    margin: 10px;
    padding: 0px;
    border:2px solid black;
}
.row {
    display: flex;
    align-items: justify
}
.profile-owner{
    background-color: #17a2b8;
    height: 100px;
    margin-bottom: 20px;

}.avatarimg{
    background-color: white;
    height: 100px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50%;

}
.location, .gear{
    height: 20px;

}
.profile-info{
    padding:20px;
    margin:3px;
    padding: gray;
}

.profile-info h1, h3, p{
    margin: 20px, 0px
}
.edu-header{
    background-color: #333333;
    height:50px;
    color: white;
    margin-top: 0px;
    padding:0px;
    

}
.edu-info > h2, p, h3{
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: center;
}

.connectreq, .yourconnections{
    background-color: #333333;
    color: white;
    height:40px;
    align-items: center;
    display: flex;
}
.connectbtn{
    margin-left: 15px;
    border-radius: 50%;
    background-color: #ccc;
}
.toddpic, .philpic, .adrienpic, .annapic, .alaynepic,.arrypic {
    height: 45px;
}

.reject, .accept{
    height: 30px;
}
.yourconbtn{
    margin-left: 15px;
    border-radius: 30%;
    background-color: #ccc;
}
