.container{
    width:900px;
}
.topbar{
    width:900px;
    height:75px;
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
}
.title{
    color:white;
    margin-top: 15px;
    margin-left: 15px;
    justify-content: left;
    display: flex;
}
.feed{
    width: 900px;
    background-color: white;
    color: black;
    text-align: center;
    margin-left: 15px;
}
.leftcolumn{
    width: 250px;
    height: 275px;
    border: 2px solid black;
    margin-left: 40px;

}
.line1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profileinfo{
    justify-content: center;
    margin-top: 40px;
    margin-left: 65px;
}
.profileimg{
    height: 100px;
}

.rightcolumn{
    width: 500px;
    margin-left: 55px;
}
.comment1, .comment2, .comment3{
    width: 500px;
    height: 150px;
    border: 2px solid black; 
    margin-bottom: 20px;
}
.row{
    display: flex;
}